smart-light-controller/nodered.json
[{"id":"f89d2ec3.2dcd5","type":"http request","z":"234859d0.50ff66","name":"Set Light Color","method":"use","ret":"txt","url":"","x":2400,"y":60,"wires":[["db7d8091.24c6a"]]},{"id":"17a49f99.cb65e","type":"switch","z":"234859d0.50ff66","name":"Check for Press","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":1,"x":480,"y":60,"wires":[["2c855588.4ca12a"]]},{"id":"2c855588.4ca12a","type":"function","z":"234859d0.50ff66","name":"Get Pin Number","func":"const pin = msg.topic.substring(3);\nmsg.pin = parseInt(pin);\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":60,"wires":[["75732997.bf8e18","78818e78.1f202"]]},{"id":"29bfca26.127b76","type":"function","z":"234859d0.50ff66","name":"Get Color","func":"flow.set('rateLimited', true);\nconst config = {\n    \"on\": true,\n    \"bri\": 254,\n    \"sat\": 254,\n}\nswitch (msg.pin) {\n    case 7:\n        config.xy = [\n\t\t\t0.6802,\n\t\t\t0.3097\n\t\t]; //red\n        break;\n    case 11:\n        config.xy = [\n\t\t\t0.139,\n\t\t\t0.081\n\t\t]; //blue\n        break;\n    case 13:\n        config.xy = [0.4750,0.4861]; // yellow\n        break;\n    case 15:\n        config.xy = [0.2001,0.5926]; //green\n        break;\n    case 12:\n        config.xy = [0.3143,0.3301]; //white\n        break;\n    default:\n        break;\n}\nmsg.payload = config;\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":60,"wires":[["85c95a1.98001a8"]]},{"id":"e338a7cc.213d48","type":"inject","z":"234859d0.50ff66","name":"PI-11 Blue Debug","topic":"pi/11","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":100,"wires":[["17a49f99.cb65e","1d3ddfb0.58709"]]},{"id":"1d3ddfb0.58709","type":"debug","z":"234859d0.50ff66","name":"Is Button Working","active":false,"console":false,"complete":"true","x":550,"y":180,"wires":[]},{"id":"823cc8f8.f16268","type":"inject","z":"234859d0.50ff66","name":"PI-7 Red Debug","topic":"pi/7","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":140,"y":60,"wires":[["17a49f99.cb65e","1d3ddfb0.58709"]]},{"id":"de5f6482.de1978","type":"inject","z":"234859d0.50ff66","name":"PI-12 White Debug","topic":"pi/12","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":140,"wires":[["17a49f99.cb65e","1d3ddfb0.58709"]]},{"id":"4c8f0222.8c71ac","type":"inject","z":"234859d0.50ff66","name":"PI-13 Yellow Debug","topic":"pi/13","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":200,"wires":[["17a49f99.cb65e","1d3ddfb0.58709"]]},{"id":"42a305a1.a3b1ec","type":"inject","z":"234859d0.50ff66","name":"pi/15 Green Debug","topic":"pi/15","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":150,"y":240,"wires":[["17a49f99.cb65e","1d3ddfb0.58709"]]},{"id":"f7e8ebf3.91edf8","type":"debug","z":"234859d0.50ff66","name":"","active":false,"console":"false","complete":"headers","x":890.5,"y":1254,"wires":[]},{"id":"807bda6a.e06168","type":"http in","z":"234859d0.50ff66","name":"Homepage","url":"/home","method":"get","swaggerDoc":"","x":61.5,"y":1180,"wires":[["4a979c08.beb024"]]},{"id":"dcc68f5.b0f897","type":"template","z":"234859d0.50ff66","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n    <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n  </head>\n<div class=\"container\">\n    <div class=\"list-group\">\n      {{#payload.groups}}\n        <input type=\"radio\" name=\"RadioInputName\" value=\"{{id}}\" id=\"radio{{id}}\" />\n  <label class=\"list-group-item\" for=\"radio{{id}}\" data-lightid=\"{{id}}\">{{name}}</label>\n      {{/payload.groups}}\n    </ul>\n</div>\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":696.5,"y":1238,"wires":[["f7e8ebf3.91edf8","a6b17536.8f4c08"]]},{"id":"f9c224e8.f1df28","type":"http response","z":"234859d0.50ff66","name":"Response","x":1087.5,"y":1233,"wires":[]},{"id":"1af849de.d207a6","type":"template","z":"234859d0.50ff66","name":"CSS","field":"payload.style","fieldType":"msg","format":"handlebars","syntax":"plain","template":".list-group-item {\n  user-select: none;\n}\n\n.list-group input[type=\"checkbox\"] {\n  display: none;\n}\n\n.list-group input[type=\"checkbox\"] + .list-group-item {\n  cursor: pointer;\n}\n\n.list-group input[type=\"checkbox\"] + .list-group-item:before {\n  content: \"\\2713\";\n  color: transparent;\n  font-weight: bold;\n  margin-right: 1em;\n}\n\n.list-group input[type=\"checkbox\"]:checked + .list-group-item {\n  background-color: #0275D8;\n  color: #FFF;\n}\n\n.list-group input[type=\"checkbox\"]:checked + .list-group-item:before {\n  color: inherit;\n}\n\n.list-group input[type=\"radio\"] {\n  display: none;\n}\n\n.list-group input[type=\"radio\"] + .list-group-item {\n  cursor: pointer;\n}\n\n.list-group input[type=\"radio\"] + .list-group-item:before {\n  content: \"\\2022\";\n  color: transparent;\n  font-weight: bold;\n  margin-right: 1em;\n}\n\n.list-group input[type=\"radio\"]:checked + .list-group-item {\n  background-color: #0275D8;\n  color: #FFF;\n}\n\n.list-group input[type=\"radio\"]:checked + .list-group-item:before {\n  color: inherit;\n}","x":566.5,"y":1120,"wires":[["dcc68f5.b0f897","19cb96a4.b41bc9"]]},{"id":"546b516f.4e303","type":"template","z":"234859d0.50ff66","name":"Script","field":"payload.script","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"$(document).ready(function(e) {\n    \n    $('.list-group-item').on('click', function(ev) {\n        $.ajax({\n            url: '/setgroup',\n            method: 'put',\n            data: {\n                group: $(ev.currentTarget).data('lightid'),\n            }\n        });\n        \n        \n    });\n});","x":545.5,"y":1187,"wires":[["1af849de.d207a6"]]},{"id":"4a979c08.beb024","type":"http request","z":"234859d0.50ff66","name":"All Groups","method":"GET","ret":"obj","url":"http://192.168.1.2/api/okjn-JSNcph9aUPh8Fq8CrlrA8AoNneh8e2wImSU/groups","x":244,"y":1173,"wires":[["8547dd37.f0f69","cd6a9c05.a80b4"]]},{"id":"8547dd37.f0f69","type":"function","z":"234859d0.50ff66","name":"Set Groups","func":"const groups = msg.payload;\nconst keys = Object.keys(groups);\nconst arrGroups = [];\nfor (var x = 0; x < keys.length; x++) {\n    arrGroups.push({\n        id: keys[x],\n        name: groups[keys[x]].name\n    });\n}\nmsg.payload.groups = arrGroups;\nreturn msg;","outputs":1,"noerr":0,"x":206,"y":1271,"wires":[["6a56677e.83b8a8","546b516f.4e303"]]},{"id":"cd6a9c05.a80b4","type":"debug","z":"234859d0.50ff66","name":"","active":false,"console":"false","complete":"payload","x":367,"y":1115,"wires":[]},{"id":"19cb96a4.b41bc9","type":"debug","z":"234859d0.50ff66","name":"","active":false,"console":"false","complete":"payload.groups","x":697.5,"y":1333,"wires":[]},{"id":"6a56677e.83b8a8","type":"debug","z":"234859d0.50ff66","name":"","active":false,"console":"false","complete":"payload.groups","x":364.5,"y":1328,"wires":[]},{"id":"57fdf249.68768c","type":"inject","z":"234859d0.50ff66","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":95.5,"y":1109,"wires":[["4a979c08.beb024"]]},{"id":"a6b17536.8f4c08","type":"change","z":"234859d0.50ff66","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":899,"y":1160,"wires":[["f9c224e8.f1df28"]]},{"id":"3ea0a9a0.9a0c26","type":"http in","z":"234859d0.50ff66","name":"PUT / setgroup Set Group Number","url":"/setgroup","method":"put","swaggerDoc":"","x":160,"y":1560,"wires":[["ea5e260a.521ef8"]]},{"id":"d1e0c694.10cba8","type":"debug","z":"234859d0.50ff66","name":"","active":true,"console":"false","complete":"false","x":677,"y":1581,"wires":[]},{"id":"ea5e260a.521ef8","type":"function","z":"234859d0.50ff66","name":"Set Group App","func":"flow.set('groupNum', msg.payload.group);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":1520,"wires":[["d1e0c694.10cba8","53081c9e.6ef9b4"]]},{"id":"3474ce20.5ff1f2","type":"inject","z":"234859d0.50ff66","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":420,"wires":[["ff159042.7f19"]]},{"id":"ff159042.7f19","type":"function","z":"234859d0.50ff66","name":"Get Group Num","func":"const groupNum = flow.get('groupNum') || 0;\nnode.status({\n    fill:\"green\",\n    shape:\"ring\",\n    text:groupNum});\nmsg.groupNum = groupNum;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":420,"wires":[["6652995b.00f278"]]},{"id":"6652995b.00f278","type":"debug","z":"234859d0.50ff66","name":"","active":true,"console":"false","complete":"groupNum","x":580,"y":420,"wires":[]},{"id":"7bbb8bc6.7de134","type":"inject","z":"234859d0.50ff66","name":"","topic":"","payload":"{\"group\": \"8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":1500,"wires":[["ea5e260a.521ef8"]]},{"id":"53081c9e.6ef9b4","type":"http response","z":"234859d0.50ff66","name":"","x":650,"y":1500,"wires":[]},{"id":"8b04cb47.e38bd8","type":"function","z":"234859d0.50ff66","name":"Set Global Request","func":"msg.method = 'put';\nmsg.url = 'http://192.168.1.2/api/okjn-JSNcph9aUPh8Fq8CrlrA8AoNneh8e2wImSU/groups/' + msg.groupNum + '/action';\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":60,"wires":[["f89d2ec3.2dcd5","875fd224.7d6f7"]]},{"id":"85c95a1.98001a8","type":"function","z":"234859d0.50ff66","name":"Get Group Num","func":"const groupNum = flow.get('groupNum') || \"8\";\nnode.status({\n    fill:\"green\",\n    shape:\"ring\",\n    text:groupNum});\nmsg.groupNum = groupNum;\nreturn msg;","outputs":1,"noerr":0,"x":1960,"y":60,"wires":[["8b04cb47.e38bd8"]]},{"id":"4113f985.56b998","type":"comment","z":"234859d0.50ff66","name":"Get Current Group Debug","info":"","x":150,"y":360,"wires":[]},{"id":"abe19bc5.b1c508","type":"rpi-gpio in","z":"234859d0.50ff66","name":"P7 - Red","pin":"7","intype":"up","debounce":"50","read":false,"x":320,"y":60,"wires":[["1d3ddfb0.58709","17a49f99.cb65e"]]},{"id":"556e157f.e296bc","type":"rpi-gpio in","z":"234859d0.50ff66","name":"P11 - Blue","pin":"11","intype":"up","debounce":"50","read":false,"x":320,"y":100,"wires":[["1d3ddfb0.58709","17a49f99.cb65e"]]},{"id":"d800d84d.465268","type":"rpi-gpio in","z":"234859d0.50ff66","name":"P12 - White","pin":"12","intype":"up","debounce":"50","read":false,"x":330,"y":140,"wires":[["17a49f99.cb65e","1d3ddfb0.58709"]]},{"id":"581517ab.9f2318","type":"rpi-gpio in","z":"234859d0.50ff66","name":"P13 - Yellow","pin":"13","intype":"up","debounce":"50","read":false,"x":330,"y":200,"wires":[["1d3ddfb0.58709","17a49f99.cb65e"]]},{"id":"bc736679.115f98","type":"rpi-gpio in","z":"234859d0.50ff66","name":"P15 - Green","pin":"15","intype":"up","debounce":"50","read":false,"x":330,"y":240,"wires":[["1d3ddfb0.58709","17a49f99.cb65e"]]},{"id":"6d3ae913.4c9ac8","type":"function","z":"234859d0.50ff66","name":"Check to Change Color","func":"const currentPin = flow.get('currentPin');\nconst rateLimited = flow.get('rateLimited') || false;\nnode.log(\"MSGPIN: \"+ msg.pin);\nnode.log(\"currentPin: \"+ currentPin);\nnode.log(\"rateLimited: \"+ rateLimited);\nif(msg.pin !== currentPin && !rateLimited) {\n    msg.changeColor = true;\n    msg.rateLimited = true;\n    flow.set('currentPin', msg.pin);\n    flow.set('rateLimited', true);\n} \nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":60,"wires":[["e0b53e9d.96cbc","bc100cda.f7c6"]]},{"id":"bc100cda.f7c6","type":"switch","z":"234859d0.50ff66","name":"Color Change","property":"changeColor","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1440,"y":60,"wires":[["29bfca26.127b76","eddc7148.10f0b"],["eddc7148.10f0b"]]},{"id":"54091a9.cef91e4","type":"inject","z":"234859d0.50ff66","name":"","topic":"Reset Limit","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":170,"y":520,"wires":[["ce61d2ee.93c49"]]},{"id":"ce61d2ee.93c49","type":"function","z":"234859d0.50ff66","name":"flow.rateLimited","func":"flow.set('rateLimited', false);\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":518,"wires":[["d76e6a38.c72b48"]]},{"id":"d76e6a38.c72b48","type":"debug","z":"234859d0.50ff66","name":"","active":false,"console":"false","complete":"payload","x":639,"y":526,"wires":[]},{"id":"e3517ff4.da45a","type":"comment","z":"234859d0.50ff66","name":"Rate Limit","info":"","x":100,"y":480,"wires":[]},{"id":"f6699d84.b6bb3","type":"comment","z":"234859d0.50ff66","name":"Admin Application","info":"","x":110,"y":1060,"wires":[]},{"id":"659476e1.f3a7e8","type":"comment","z":"234859d0.50ff66","name":"PUT /changeroom Change Room Endpoint","info":"","x":180,"y":1440,"wires":[]},{"id":"db7d8091.24c6a","type":"debug","z":"234859d0.50ff66","name":"","active":true,"console":false,"complete":"false","x":2610,"y":60,"wires":[]},{"id":"75732997.bf8e18","type":"debug","z":"234859d0.50ff66","name":"What Pin Number","active":false,"console":false,"complete":"pin","x":830,"y":180,"wires":[]},{"id":"e0b53e9d.96cbc","type":"debug","z":"234859d0.50ff66","name":"Should the color change","active":false,"console":false,"complete":"true","x":1350,"y":180,"wires":[]},{"id":"ae960e76.f2113","type":"debug","z":"234859d0.50ff66","name":"Is Rate Limited","active":false,"console":false,"complete":"rateLimited","x":1060,"y":180,"wires":[]},{"id":"eddc7148.10f0b","type":"debug","z":"234859d0.50ff66","name":"Change Color","active":false,"console":false,"complete":"changeColor","x":1650,"y":180,"wires":[]},{"id":"78818e78.1f202","type":"switch","z":"234859d0.50ff66","name":"is Rate Limited","property":"rateLimited","propertyType":"flow","rules":[{"t":"null"},{"t":"false"},{"t":"true"}],"checkall":"false","outputs":3,"x":860,"y":60,"wires":[["6d3ae913.4c9ac8"],["6d3ae913.4c9ac8"],["ae960e76.f2113"]]},{"id":"875fd224.7d6f7","type":"debug","z":"234859d0.50ff66","name":"","active":true,"console":false,"complete":"true","x":2300,"y":120,"wires":[]}]